body{
  background-color: rgb(255, 255, 255);
  padding-right: 5px;
  padding-top: 10px;
}

.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: white;
  padding: 5rem;
  gap: 8rem;
}

.login-form {
  width: 50%;
  font-size: 20px;
  color: black;
}

.form-input {
  margin-bottom: 1.5rem;
  font-size: 18px;
  color: black;
}

.form-input input {
  width: 90%;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #EDF0F2;
  font-size: 18px;
}
.checkbox {
  margin-bottom: 1.5rem;
  font-size: 18px;
  margin-top: -0.5rem;
}

.btn-primary {
  background-color: #001f3f;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 97%;
  text-shadow: 2px 2px 2px black;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.illustration {
  display: flex; 
  justify-content: center; 
  width: 30%; 
  padding-left: 20px;
  padding-right: 20px;
}

.illustration img {
  width: 100%;
  max-width: 300px;
  padding-right: 40px;
  transform: scale(1.8);
  padding-top: 1rem;
  padding-left: 5rem;
}

.register-link {
  margin-top: 1.8rem;
  font-size: 18px;
}
