body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /* Tamaño de letra global */
  margin: 0;
  padding: 0;   
}

.filasName-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  margin-top: 1rem;
}

.filasData-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

p{
  padding-bottom: 5px;
}

h2, h3, p{ 
  padding-top:5px ;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #001f3f;
}

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 2rem;
  margin-left: -80px;
}

h3, h2, p, .login-form, .form-input, .checkbox, .btn-primary, .register-link {
  font-size: 16px;
}

.login-form {
  width:90%;
  max-width: 500px;
}

.form-input {
  margin-bottom: 1.2rem;
}

.form-input input {
  width: 88%;
  max-width: 88%;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #EDF0F2;
}

.checkbox {
  margin-top: -0.5rem;
  pointer-events: auto;
  opacity: 1;
}

.btn-primary {
  margin-top: 1rem;
  margin-bottom: -1rem;
  background-color: #001f3f;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  text-shadow: 2px 2px 2px black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.illustration {
  display: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: -5rem;

}

.register-link {
  margin-top: 1.8rem;
}

@media (min-width: 768px) {
  .login-container {
    flex-direction: row;
    gap: 4rem;
  }

  .login-form {
    width: 50%;
  }

  .illustration {
    display: flex;
    justify-content: center;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .illustration img {
    width: 100%;
    max-width: 300px;
    padding-right: 20px;
    transform: scale(3,3);
    padding-left: 4rem;
  }
}
