  .login-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10rem;
    
  }
  
  .login-form {
    width: 50%;
    font-size: 24px;
  }
  
  .form-input {
    margin-bottom: 1.5rem;
    font-size: 24px;
  }
  
  .form-input input {
    width: 90%;
    padding: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color:#EDF0F2;
    font-size: 24px;
    
  }
  
  .checkbox {
    margin-bottom: 2rem;
    font-size: 24px;
  }

  .btn-primary {
    background-color: #001f3f;
    color: white;
    padding: .9rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 95%;
    text-shadow: 2px 2px 2px black;
    font-size: 24px;
    
  }
  
  .illustration img {
    width: 200%;
    max-width: 550px;
    margin-left: 400px;
    transform: scale(1.9);
    padding-right: 2rem;
    padding-top: 2rem;
    
  }
  
  .register-link {
    margin-top: 1.8rem;
    font-size: 24px;
  }